body {
  background-image: url('../assets/images/fondo.png');
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.font {
  font-family: 'Cabin Sketch', cursive;
}

.teal.accent-4 {
  background-color: #0a8eda77 !important;
}

.middle {
  margin-left: 350px;
  display: inline-block;
}

nav .brand-logo {
  margin-left: 10px;
}

.styles {
  font-weight: 600;
}

.movie {
  border: 1px solid black;
}

.movie_img {
  width: 100%;
}

.camera {
  width: 30px;
  height: 40px;
  margin-left: 40px;
  margin-top: 10px;
}

.modal .modal-close {
  float: right;
}

.black-letter {
  color: black;
}

.modal {
  width: 80%;
  height: auto;
  overflow: hidden;
}

.size-video {
  width: 100%;
}

.modal-overlay {
  position: inherit;
  width: 100%;
}

.size-nav {
  padding-right: 25px;
  font-size: 1.3em;
}

.name-class {
  padding-right: 20px;
}

.widthMovies{
  width: 100%;
  display: inline-block;
}

.margin{
  margin: 20px;
}

@media only screen and (min-width: 601px) {
  .space {
    margin-left: 125px;
  }

  .height {
    height: 300px;
  }
}