body {
  background-image: url('../assets/images/fondo.png');
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.font {
  font-family: 'Cabin Sketch', cursive;
}

.teal.accent-4 {
  background-color: #0a8eda77 !important;
}

.middle {
  margin-left: 350px;
  display: inline-block;
}

nav .brand-logo {
  margin-left: 10px;
}

.styles {
  font-weight: 600;
}

.movie {
  border: 1px solid black;
}

.movie_img {
  width: 200px;
}

.camera {
  width: 30px;
  height: 40px;
  margin-left: 40px;
}

.img {
  width: 100%;
  height: 100%;
}

.altura {
  height: 50vh;
}

.mg_bottom {
  margin-bottom: 10px;
}

.trailer {
  width: 100%;
  height: 100%;
}

.style_btn {
  margin: 15px;
}

.modal .modal-close {
  float: right;
}

.black-letter {
  color: black;
}

.modal {
  width: 100%;
} 

@media only screen and (min-width: 601px) {
  .altura {
    width: 100%;
    height: 100%;
  }
}
.widthMovies{
  width: 10%;
  display: inline;
}
.margin{
  margin: 5px;
}

