.border,
.border2 {
  border: 1px solid rgb(158, 155, 155);
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(238, 237, 236);
}

::placeholder {
  color: rgb(91, 91, 94);
}

.user {
  width: 30px;
  border-radius: 50%;
}

.border2 {
  background-color: rgb(255, 254, 254);
  padding: 20px;
}

.mg_btn {
  margin-bottom: 20px;
}

.border-post {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 1em;
  word-wrap: break-word;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 15px;
}

.post {
  background-color: rgba(255, 229, 195, 0.548);
  padding-bottom: 35px;
}

.post-text {
  border: none;
  margin-top: 21px;
}

.post {
  background-color: rgba(255, 229, 195, 0.548);
  margin-bottom: 35px !important;
}

.post-text {
  border: none;
  margin-top: 21px;
}

.photoU {
  width: 100%;
}

.height-1 {
  margin-top: 20px;
}

.nombreD {
  font-weight: 700;
  padding-left: 20px !important;
}

.grey-text {
  padding-left: 20px;
}

/* #cont {
  padding: 30px 50px;
} */

.collection {
  border: none;
}
