<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/home.css">
  <link rel="stylesheet" href="../css/verPelicula.css">
  <link rel="icon" href="../assets/images/Camera.png">
  <title>BlockBuster</title>
</head>

<body>

  <header>
    <nav class="nav-extended #00bfa5 teal accent-4">
      <div class="nav-wrapper">
        <img class="camera hide-on-small-only middle" src="../assets/images/Camera.png" alt="">
        <a href="home.html" class="brand-logo font-title styles font">BlockBuster</a>
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down font">
          <li class="nombreD"></li>
          <li> <img class="photoU" alt=""></li>
          <li>
            <a href="../index.html" class="close">Cerrar Sesión</a>
          </li>
        </ul>
        <ul id="slide-out" class="side-nav">
          <li>
            <a href="../index.html" class="close">
              <i class="material-icons">settings_power</i>Cerrar Sesión</a>
          </li>
          <li>
            <a href="home.html" class="active">
              <i class="material-icons">home</i>home</a>
        </ul>
      </div>
    </nav>
  </header>

  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!">
      <img class='responsive-img coco' src="../assets/images/coco.png">
    </a>
    <a class="carousel-item white-text" href="#two!">
      <img class='responsive-img gradient' src="../assets/images/papas.png">
    </a>
    <a class="carousel-item" href="#three!">
      <img class='responsive-img' src="../assets/images/time.png">
    </a>
    <a class="carousel-item" href="#four!">
      <img class='responsive-img' src="../assets/images/dog.png">
    </a>
  </div>


  <div class="row">
    <div class="col s6 offset-s3">
      <div class="input-group">
        <span class="input-group-addon"></span>
        <input type="text" class="form-control search" id="inputGroupSuccess4" aria-describedby="inputGroupSuccess4Status" placeholder="Ingrese e nombre de la película">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col m8 offset-m2">
      <div class="row" id='content-movie-js'>

      </div>
    </div>

  </div>


  <!-- Modales -->

  <!-- Modal Structure movile -->
  <div id="modal1" class="modal modal-movil modal-fixed-footer">
    <div class="modal-content">
      <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat close">x</a>
      <div class="container">
        <div class="row">
          <div class="col s12 col m12 col l12">
            <div>
              <h4 id="nameMovie">Nombre de la película</h4>
            </div>
            <div>
              <h6>Sinopsis</h6>
              <p id="overview"></p>
              <h6>Protagonistas</h6>
              <p></p>
              <h3>+18
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
              </h3>
            </div>
          
            <iframe width="560" height="315" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen id="trailer"></iframe>
            <br>
            <br>
            <a class="waves-effect waves-light btn style_btn movies">Ver película</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/home.js"></script>
  <script src="../js/api.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>

</html>
